{% extends "base.twig" %}

{% block title %}Signup{% endblock %}

{% block body %}
    <h1>Signup</h1>

    <form method="post" action="/signup/insert">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
                    type="email"
                    class="form-control {% if errors.email is defined %}is-invalid{% endif %}"
                    id="email"
                    name="email"
                    aria-describedby="emailValidation"
            >
            <div id="emailValidation" class="invalid-feedback">
                {% for message in errors.email %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
{% endblock %}
