{% extends "base.twig" %}

{% block title %}Signin{% endblock %}

{% block body %}
    <h1>Signin</h1>

    <form method="post" action="/signin/read">
        <div class="mb-3">
            <input
                    type="email"
                    placeholder="Email"
                    class="form-control {% if errors.email is defined %}is-invalid{% endif %}"
                    id="email"
                    name="email"
                    value="{{ user.getEmail }}"
                    required
                    aria-describedby="emailValidation"
            >
            <div id="emailValidation" class="invalid-feedback">
                {% for message in errors.email %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="input-group mb-3">
            <input
                    type="password"
                    placeholder="Password"
                    class="form-control"
                    id="password"
                    name="password"
                    value="{{ user.getPassword }}"
                    required
            >
            <a href="#" class="btn btn-outline-secondary" onclick="toggleVisibility()">
                <i class="bi-eye-slash" id="eye"></i>
            </a>
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
{% endblock %}

{% block scripts %}
    <script src="/scripts/signupIndex.js"></script>
{% endblock %}
