{% extends "base.twig" %}

{% block title %}New Deck{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>New Deck</h1>
        </div>
    </div>

    <div class="row">
        <form method="post" action="/decks/create">
            <!-- Title -->
            <div class="mb-3">
                <input
                        type="text"
                        class="form-control {% if errors.title is defined %}is-invalid{% endif %}"
                        id="title" name="title"
                        placeholder="Title"
                        value="{{ deck.getTitle }}"
                        aria-describedby="titleValidationFeedback"
                        required
                >
                <div id="titleValidationFeedback" class="invalid-feedback">
                    {% for message in errors.title %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            </div>
            <!-- Description -->
            <div class="mb-3">
                <input
                        type="text"
                        class="form-control"
                        id="description" name="description"
                        placeholder="Description"
                        value="{{ deck.getDescription }}"
                >
            </div>
            <!-- Create Deck -->
            <button type="submit" class="btn btn-success" name="create">Create Deck</button>
        </form>
    </div>
{% endblock %}
