<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav>
    <p><a href="/home/index">Home</a> | <a href="/posts/index">Posts</a></p>
</nav>
{% block body %}
{% endblock %}
</body>
</html>
